body{
  background-color: #222;
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding-top: 50px;
  color: white;
}

.Center{
  text-align: center;
}

ul{
  list-style-type: none;
  display: inline-block;
  text-align: left;

}

li{
  padding: 50px
}

img{
  border-radius: 20%;
}
h3{
  text-align: center;
}

.login{
  padding: 20px;
}

button {
  margin: 1rem 1rem 0 0;
  border: 0;
  border-radius: 20px;
  padding: 10px 3rem;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color:#1ed760;
  color: black;
}

button:hover {
  background-color: #1fdf64;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
